{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Available Movies</h1>

    <div class="row mt-4">
        {% for video in all_videos %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ video.title }}</h5>
                    <p class="card-text">Released: {{ video.release_date }}</p>
                    <p>Duration: {{ video.duration|floatformat:2 }} minutes</p>
                    {% if has_active_subscription %}
                    <a href="{% url 'video_stream' video.id %}" class="btn btn-success w-100">WATCH NOW</a>
                    {% else %}
                        {% if video.id in pay_per_watch_videos %}
                        <a href="{% url 'video_stream' video.id %}" class="btn btn-success w-100">WATCH NOW</a>
                        {% else %}
                        <a href="{% url 'video_stream' video.id %}" class="btn btn-warning w-100">WATCH PREVIEW</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'active_subscription' %}" class="btn btn-warning">Subscribe Now for Full Access to All Movies</a>
    </div>
</div>

{% endblock %}
