{% extends 'index.html' %}
{% load static %}

{% block content %}

    <!-- page title -->
    <section class="section section--first section--bg" data-bg="img/bg/section__bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section__wrap">
                        <!-- section title -->
                        <h1 class="section__title section__title--head">Active Subscriptions</h1>
                        <!-- end section title -->

                        <!-- breadcrumbs -->
                        <ul class="breadcrumbs">
                            <li class="breadcrumbs__item"><a href="index.html">Home</a></li>
                            <li class="breadcrumbs__item breadcrumbs__item--active">Subscriptions</li>
                        </ul>
                        <!-- end breadcrumbs -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->


    
    <div class="container mt-5">

        <!-- Check for active subscription -->
        {% if active_subscription %}
            <div class="alert alert-info text-center">
                <h4>Current Subscription</h4>
                <p><strong>Plan:</strong> {{ active_subscription.plan.name|capfirst }}</p>
                <p><strong>Price:</strong> {{ active_subscription.plan.price }} NGN/month</p>
                <p><strong>Expiry Date:</strong> {{ active_subscription.end_date|date:"F d, Y" }}</p>
            </div>

            <!-- Button to upgrade subscription -->
            <div class="row">
                <div class="col">
                    <a href="{% url 'subscription' %}" class="plan__btn">
                        <span>Upgrade Subscription</span>
                    </a>
                </div>
            </div>
        {% else %}
            <!-- No active subscription message -->
            <div class="alert alert-danger text-center">
                <h4>No Active Subscription</h4>
                <p>You do not have an active subscription. Subscribe to a plan to access our content.</p>
            </div>

            <!-- Button to subscribe -->
            <div class="row">
                <div class="col">
                  <a href="{% url 'subscription' %}" class="plan__btn">
                    <span>Subscribe now</span>
                  </a>
                </div>
            </div>
        {% endif %}

        <br>

    </div>



	
{% endblock %}
